body {
    background-color: rgba(234, 210, 172, 1);
    width: 960px;
    margin: 0 auto;
    font-family: 'Libre Baskerville', serif;
}

#salmonpic {
    width: 393.5px;
    height: 123px;
    position: absolute;
    top: 4px;
    left: 60px;
}

#chinookpic {
    width: 393.5px;
    height: 123px;
    position: absolute;
    top: 7px;
    left: 500px;
}

h1 {
    font-family: 'BioRhyme Expanded', serif;
    position: absolute;
    top: 115px;
    left: 57px;
    letter-spacing: 0.23em;
    color: rgba(223, 146, 142, 1);
    text-shadow: 2px 2px 3px #111111;
}

#locations {
    border: 3px solid black;
    border-radius: 5px;
    width: 370px;
    position: absolute;
    top: 210px;
    left: 57px;
    background-color: rgba(197, 136, 130, 1);
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    letter-spacing: 0.02em;
    color: rgba(209, 222, 222, 1);
    text-shadow: 1px 1px 1px #111111;
    margin-bottom: 5px;
}

#hours {
    position: relative;
    text-align: center;
    margin-top: 0px;
    color: rgba(234, 210, 172, 1);
    font-weight: bold;
    /* text-shadow: 1px 1px 0px #111111; */
}