body {
    font-family: 'Libre Baskerville', serif;
    background-color: #D1DEDE;
}

table {
    text-align: center;
    width: fit-content;
    border-collapse: collapse;
}

th {
    font-weight: lighter;
}

th, td {
    border-style: solid;
    border-width: thin;
    padding: 5px;
}

tbody {
    background-color: white;
}

tbody tr:hover {
    background-color: lightgray;
}

tfoot {
    background-color: #EAD2AC;
    font-weight: bold;
}

thead {
    background-color: #DF928E;
}

fieldset {
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    font-weight: lighter;
}

legend {
    background-color: #DF928E;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
}

input {
    background-color: #f6f0f0;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

#add {
    background-color: cornflowerblue;
    border-width: 1px;
    font-size: 105%;
    margin-top: 3px;
    font-weight: 300;

}

#add:hover {
    background-color: rgb(151, 185, 247);
    font-weight: 400;

}

input[type="number"] {
    width: 60px;
}

#saleshead{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: cornflowerblue;
    width: fit-content;
    font-family: Arimo;
    font-weight: lighter;
}

.input {
    margin-left: 4px;
}

a:link {
    text-decoration: none;
    color: rgba(209, 222, 222, 1);
}

a:visited {
    color: rgba(209, 222, 222, 1);
}

a:hover {
    color: #EAD2AC;
    cursor: pointer;
}

#menuscroll {
    position: fixed;
    right: 20px;
    bottom: 0px;
    border: 1pt solid black;
    padding: 2px;
    background-color: rgba(223, 146, 142, 1);
    border-radius: 5px;
}