body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 244, 244)
}

table {
    text-align: center;
    width: 650px;
    border-collapse: collapse;
}

th, td {
    padding: 4px;
    border-style: solid;
    border-width: thin;
}

tbody {
    background-color: white;
}

tbody tr:hover {
    background-color: lightgray;
}

tfoot {
    background-color: cornflowerblue;
    font-weight: bold;
}

thead {
    background-color: rgb(195, 144, 190)
}

fieldset {
    width: 650px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

legend {
    background-color: rgb(195, 144, 190);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

input {
    background-color: #f6f0f0;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

#add {
    background-color: cornflowerblue;
    font-weight: bold;
    border-width: 2px;
}

#add:hover {
    background-color: rgb(195, 144, 190);
}
